/* Fonts */
@import "../lib/fonts/bebasneue/bebasneue.css";
@import "../lib/fonts/myriadpro/myriadpro.css";
/* Variables */
/* Elements */
.content p {
  font-family: "MyriadPro-Regular";
  font-size: 16px;
  margin-bottom: 25px;
  color: #414141;
}
.content .big-letter {
  color: #e8663c;
  font-family: "MyriadPro-Bold";
  font-size: 41px;
  display: inline-block;
  line-height: 35px;
  float: left;
  padding-right: 10px;
  margin-top: 6px;
}
.content .annotation {
  font-family: "MyriadPro-It";
  display: inline-block;
  margin-left: 80px;
  padding-left: 15px;
  border-left: 10px solid #e8663c;
  font-style: italic;
}
.content .notice-text {
  font-family: "MyriadPro-It";
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 25px 0;
}
.content .notice-text--confirmation {
  border: 1px solid #98c601;
  background-color: rgba(152, 198, 1, 0.2);
  color: #98c601;
}
.content .notice-text--error {
  border: 1px solid #eb5439;
  background-color: rgba(235, 84, 57, 0.2);
  color: #eb5439;
}
.content .notice-text--alert {
  border: 1px solid #fab418;
  background-color: rgba(250, 180, 24, 0.2);
  color: #fab418;
}
.content .notice-text--information {
  border: 1px solid #4d8fcb;
  background-color: rgba(77, 143, 203, 0.2);
  color: #4d8fcb;
}
.btn-wrapper {
  width: 100%;
  margin-top: 15px;
}
.btn {
  padding: 8px 20px 4px 20px;
  text-transform: uppercase;
  border-radius: 0;
  background-color: #e8663c;
  color: #fff;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
  text-decoration: none;
  color: #fff;
  background-color: #d85936;
  box-shadow: none;
}
.btn--left {
  text-align: left;
}
/* Social */
.social-block {
  display: inline-block;
}
.social-block__btn {
  width: 34px;
  height: 34px;
  display: block;
  float: left;
  padding: 0;
  margin-right: 5px;
}
.social-block__btn--fb {
  background: url(../pict/images/sprite/social-sprite.png) 0 0 no-repeat;
}
.social-block__btn--fb:hover {
  background-position: 0px -36px;
}
.social-block__btn--tw {
  background: url(../pict/images/sprite/social-sprite.png) -36px 0 no-repeat;
}
.social-block__btn--tw:hover {
  background-position: -36px -36px;
}
.social-block__btn--mail {
  background: url(../pict/images/sprite/social-sprite.png) -72px 0 no-repeat;
}
.social-block__btn--mail:hover {
  background-position: -72px -36px;
}
.social-block__btn--rss {
  background: url(../pict/images/sprite/social-sprite.png) -105px 0 no-repeat;
}
.social-block__btn--rss:hover {
  background-position: -105px -36px;
}
.social-block__btn--vim {
  background: url(../pict/images/sprite/social-sprite.png) -142px 0 no-repeat;
}
.social-block__btn--vim:hover {
  background-position: -142px -36px;
}
.img-to-left {
  display: inline-block;
  float: left;
  margin: 5px 20px 20px 0;
}
.img-container {
  margin-top: 25px;
}
/* Slider */
.slider {
  margin-top: -85px;
}
.fotorama__caption__wrap {
  z-index: 100;
  color: #fff;
  padding: 20px;
  margin: 0 0 35px 35px;
  background-color: rgba(232, 102, 60, 0.8);
  min-width: 50%;
  width: 50%;
}
.fotorama__caption__wrap a,
.fotorama__caption__wrap a:hover,
.fotorama__caption__wrap a:focus,
.fotorama__caption__wrap a:active {
  text-decoration: none;
  color: #fff;
}
.fotorama__caption__wrap .h2 {
  font-family: "bebas_neue_regularregular";
  font-size: 28px;
  padding: 0;
  margin: 10px 0 20px 0;
}
.fotorama__caption__wrap p {
  font-family: "MyriadPro-Regular";
  font-size: 16px;
}
.fotorama__nav__shaft {
  padding: 0 15px;
  background: url(../pict/images/index/bgnd.png) 0 0 repeat;
}
.fotorama__thumb-border {
  margin-top: 0 !important;
  margin-left: 15px !important;
  width: 61px !important;
  height: 61px !important;
}
.fotorama__nav.fotorama__nav--thumbs {
  background-color: #f3af9d;
  margin-top: 15px;
}
.fotorama__nav__frame.fotorama__nav__frame--thumb {
  padding-top: 0 !important;
}
/* Blocks of pages */
.header {
  width: 100%;
}
.logo {
  height: 80px;
  font-family: "bebas_neuebold";
  font-size: 48px;
  color: #f3af9d;
  line-height: 80px;
}
.logo a {
  text-decoration: none;
  color: #f3af9d;
}
.logo span {
  color: #d85936;
  font-size: 48px;
}
.menu {
  height: 80px;
  line-height: 80px;
}
.menu ul {
  text-align: right;
}
.menu li {
  display: inline-block;
  margin-right: 30px;
  text-align: right;
}
.menu li:last-of-type {
  margin-right: 0;
}
.menu a {
  color: #b9b9b9;
  font-size: 24px;
  font-family: "bebas_neuebold";
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.menu a span {
  color: #b9b9b9;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
  text-decoration: none;
  color: #e8663c;
}
.menu a:hover span,
.menu a:focus span,
.menu a:active span {
  color: #f3af9d;
}
.header-line {
  height: 65px;
  background-color: #f3af9d;
  margin-bottom: 20px;
}
.header-line .container {
  background: url(../pict/images/index/bgnd.png) 0 0 repeat;
  height: 65px;
}
.header-line .row {
  background-color: #e8663c;
  margin: 0 !important;
}
.header-line__title-wrapper {
  height: 65px;
  padding-left: 20px;
}
.header-line__title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "bebas_neuebold";
  line-height: 30px;
  color: #fff;
}
.footer {
  width: 100%;
  background-color: #f3b29d;
}
.footer .container {
  background: url(../pict/images/index/bgnd.png) 0 0 repeat;
}
.footer .container .row {
  background-color: #e8663c;
  min-height: 275px;
  margin: 0 !important;
}
.footer-column {
  color: #fff;
  padding: 40px;
}
.footer-column__title {
  text-transform: uppercase;
  font-family: "bebas_neue_regularregular";
  font-size: 24px;
  padding-bottom: 30px;
}
.footer-column__text {
  font-family: "MyriadPro-Regular";
  font-size: 12px;
}
.footer-column a {
  color: #f3b29d;
  text-decoration: none;
}
.footer-column a:hover {
  color: #b9b9b9;
  text-decoration: underline;
}
/* Pages */
body {
  background: url(../pict/images/index/bgnd.png) 0 0 repeat;
}
/* Features */
.features {
  margin-top: 30px;
}
.feature-item {
  margin-bottom: 20px;
}
.feature-item__title {
  color: #e8663c;
  font-family: "bebas_neuebold";
  font-size: 28px;
  text-align: left;
  position: relative;
  padding: 0 40px 20px 75px;
}
.feature-item__title--portfolio:before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../pict/images/index/gear-icon.png) 0 0 no-repeat;
}
.feature-item__title--quality:before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../pict/images/index/checkmark-icon.png) 0 0 no-repeat;
}
.feature-item__title--follow:before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../pict/images/index/user-icon.png) 0 0 no-repeat;
}
.feature-item__text {
  color: #414141;
  font-family: "MyriadPro-Regular";
  font-size: 16px;
}
/* Recent works */
.work-list {
  margin-top: 40px;
}
.work-list__title {
  color: #e8663c;
  font-family: "bebas_neuebold";
  font-size: 28px;
  text-align: left;
  background: url(../pict/images/index/title-strip.png) 0 0 no-repeat;
  background-size: contain;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.work-list__title span {
  background: url(../pict/images/index/bgnd.png) 0 0 repeat;
  background-size: cover;
  padding-right: 25px;
}
.work {
  margin-bottom: 35px;
}
.work__img {
  position: relative;
  overflow: hidden;
  max-height: 200px;
}
.work__img img {
  min-width: 100%;
}
.work a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0) url(../pict/images/index/work-hower-pict.png) 50% 50% no-repeat;
  background-size: 0;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.work a:hover {
  background: rgba(0, 0, 0, 0.7) url(../pict/images/index/work-hower-pict.png) 50% 50% no-repeat;
  background-size: auto;
}
.work__description {
  padding: 10px 15px;
  font-family: "bebas_neuebold";
  border: 1px solid #b9b9b9;
  border-top: none;
}
.work__description__title {
  color: #b9b9b9;
  text-transform: uppercase;
  font-size: 24px;
}
.work__description__date {
  color: #e8663c;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */