body {
	background: url(../pict/images/index/bgnd.png) 0 0 repeat;
}




/* Features */
.features {
	margin-top: 30px;
}

.feature-item {
	margin-bottom: 40px;

	&__title {
		color: @base-color-darken;
		font-family: @font-base-bold;
		font-size: @title-on-slide;
		text-align: left;
		position: relative;
		padding: 0 40px 20px 75px;

		&--portfolio {
			&:before {
				content: '';
				width: 50px;
				height: 50px;
				position: absolute;
				top: 5px;
				left: 0;
				background: url(../pict/images/index/gear-icon.png) 0 0 no-repeat;
			}
		}

		&--quality {
			&:before {
				content: '';
				width: 50px;
				height: 50px;
				position: absolute;
				top: 5px;
				left: 0;
				background: url(../pict/images/index/checkmark-icon.png) 0 0 no-repeat;
			}
		}

		&--follow {
			&:before {
				content: '';
				width: 50px;
				height: 50px;
				position: absolute;
				top: 5px;
				left: 0;
				background: url(../pict/images/index/user-icon.png) 0 0 no-repeat;
			}
		}
	}

	&__text {
		color: @gray-darken;
		font-family: @font-additional-regular;
		font-size: @text-on-slide;
	}
}




/* Title making */
.work-list, .aside-element, .portfolio {

	&__title {
		color: @base-color-darken;
		font-family: @font-base-bold;
		font-size: @title-on-slide;
		text-align: left;
		background: url(../pict/images/index/title-strip.png) 0 4px repeat-x;
		background-size: initial;
		text-transform: uppercase;
		padding-bottom: 15px;

		span {
			background: url(../pict/images/index/bgnd.png) 0 0 repeat;
			background-size: cover;
			padding-right: 25px;
		}
	}
}




/* Recent works */
.work {
	margin-bottom: 35px;

	&__img-inner {
		position: relative;
		padding-top: 100%;
	}

	&__img {

		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		img {
			min-width: 100%;
			min-height: 100%;
		}
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0) url(../pict/images/index/work-hower-pict.png) 50% 50% no-repeat;
		background-size: 0;

		transition: all 0.5s;
		&:hover {
			background: rgba(0,0,0,0.7) url(../pict/images/index/work-hower-pict.png) 50% 50% no-repeat;
			background-size: auto;
		}
	}

	&__description {
		padding: 10px 15px;
		font-family: @font-base-bold;
		border: 1px solid @gray-base;
		border-top: none;

	}
	&__title {
		color: @gray-base;
		text-transform: uppercase;
		font-family: @font-base-bold;
		font-size: @font-size-menu;
	}

	&__date {
		color: @base-color-darken;
		font-family: @font-base-bold;
		font-size: @text-on-slide;
		line-height: @text-on-slide;
		margin-bottom: 0;
	}
}




/* Portfolio */
.portfolio {
	margin-bottom: 40px;

	&__img {
		width: 100%;
		margin-bottom: 40px;
	}

	&__text {

	}
}



/* Contact-us */
.map {
	padding-right: 4%;/*TODO temp?*/
}


.contacts {

	&__title {
		color: @base-color-darken;
	}
}


.feedback {
	input, textarea {
		border: 1px solid @base-color-darken;
		padding: 10px 15px;
		color: @base-color-darken;
		text-transform: uppercase;
		font-family: @font-base-bold;
		font-size: @font-size-menu;
	}
}