aside.aside {
	margin: 20px 0 30px 0;
}

.aside-element {
	margin-bottom: 10px;

	&__title {
		color: @base-color-darken;
		font-family: @font-base-bold;
		font-size: @font-size-menu;
		text-align: left;
		background: url(../pict/images/index/title-strip.png) 0 0 no-repeat;
		background-size: initial;
		text-transform: uppercase;
		padding-bottom: 15px;

		span {
			background: url(../pict/images/index/bgnd.png) 0 0 repeat;
			background-size: cover;
			padding-right: 25px;
		}
	}

	&__content {

		ul {
			list-style-type: none;
			padding-left: 0;
		}

		a {
			font-family: @font-additional-regular;
			font-size: @text-on-slide;
			text-decoration: none;
			color: @gray-darken;
			transition: all 0.3s;
			&:hover, &:focus, &:active {
				color: @gray-base;
			}
		}

	}
}

//thumbs-gallery in aside
.thumb-img {
	padding: 0 10px;
	position: relative;

	&__inner {
		position: relative;
		padding-top: 100%;
		margin-bottom: 20px;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		&--work-1 {
			background: url(../pict/images/index/work-1.png) 0 0 no-repeat;
			background-size: cover;
		}

		&--work-2 {
			background: url(../pict/images/index/work-2.png) 0 0 no-repeat;
			background-size: cover;
		}

		&--work-3 {
			background: url(../pict/images/index/work-3.png) 0 0 no-repeat;
			background-size: cover;
		}

		&--work-4 {
			background: url(../pict/images/index/work-4.png) 0 0 no-repeat;
			background-size: cover;
		}

		&--work-5 {
			background: url(../pict/images/index/work-4.png) 0 0 no-repeat;
			background-size: cover;
		}

		&--work-6 {
			background: url(../pict/images/index/work-3.png) 0 0 no-repeat;
			background-size: cover;
		}

		&--work-7 {
			background: url(../pict/images/index/work-2.png) 0 0 no-repeat;
			background-size: cover;
		}

		&--work-8 {
			background: url(../pict/images/index/work-1.png) 0 0 no-repeat;
			background-size: cover;
		}
	}

	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background-color: @error-color;
		border: 1px solid @error-color-dark;

		&:hover {
			background-color: rgba(0,0,0,0);
			border: 1px solid @gray-base;
		}

	}
}