/* Colors */
@base-color: #f3af9d;
@base-color-lighten: #f3b29d;
@base-color-darken: #e8663c;
@base-color-darkest: #d85936;

@gray-base: #b9b9b9;
@gray-darken: #414141;

@confirmation-color: rgba(152, 198, 1, 0.2);
@confirmation-color-dark: fade(@confirmation-color, 80%);

@error-color: rgba(235, 84, 57, 0.2);
@error-color-dark: fade(@error-color, 80%);

@alert-color: rgba(250, 180, 24, 0.2);
@alert-color-dark: fade(@alert-color, 80%);

@information-color: rgba(77, 143, 203, 0.2);
@information-color-dark: fade(@information-color, 80%);



/* Fonts */
@font-base-thin: "bebas_neuethin";
@font-base-light: "bebas_neuelight";
@font-base-book: "bebas_neuebook";
@font-base-regular: "bebas_neue_regularregular";
@font-base-bold: "bebas_neuebold";

@font-additional-regular: "MyriadPro-Regular";
@font-additional-bold: "MyriadPro-Bold";
@font-additional-laght-it: "MyriadPro-It";

@font-size-logo: 48px;
@big-letter-size: 41px;
@h1-title: 30px;
@title-on-slide: 28px;
@font-size-menu: 24px;
@text-on-slide: 16px;
@text-on-footer: 12px;

//duplicate data
@header-menu-height: 80px;
@header-line-height: 65px;
@footer-min-height: 275px;

